body {
  padding: 10px;
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
}

strong{
  font-weight: bold;
}
hr { background-color:white; height: 1px; border: 0; }
.proza-libre{
  
  font-family: 'Proza Libre', sans-serif;
}

.pet-background{
  background-color: black !important;
  color: aliceblue;
  padding-bottom:0 !important; 
}

.background-img{
  height:45em;
  text-align: left;
  margin-left: 480px;
  
}

